body {
  font-family: sans-serif;
}
#homePageHead{
   margin: 0;
   padding: 0;
   background-color: #164979;
}
#pixie {
  width: 100%;
  height: 100%;
}
#aboutSection{
  margin: 100px;
  display: flex;
justify-content: space-around
}
.aboutCard{
  background-color: #f8f9fa !important;
  height: 200px;
}